
h1, h2, h3, h4, h5, h6, td, input, button, p, ul, li, a, .button, select, textarea, .project-title, .product-title, .project-description, .font-alt-1, .header .navigation > ul > li > a, .side-navigation > ul > li > a, .overlay-navigation > ul > li > a, .grid-filter-menu a, .counter {
  font-family: 'Lato','Kanit'!important;
}


.wrapper-inner {
  filter: none!important;
}

nav.link-hilight ul li a {
  font-size: 14px!important;
  font-weight: 500!important;
}

.clear-pd {
  padding: 0;
}

.map-local {
  cursor: pointer; }

.map-container {
  height: 640px; }

#map-canvas {
  height: 640px; }

.bg-map {
  background-color: #333; }

@media only screen and (max-width: 320px) {
  .map-container {
    height: 230px; }
  #map-canvas {
    height: 230px; } }

@media only screen and (min-width: 769px) and (max-width: 960px) {
  .map-container {
    height: 346px; }
  #map-canvas {
    height: 346px; }
  .bg-map .gg-map .column {
    height: 346px; } }

@media only screen and (min-width: 961px) and (max-width: 1024px) {
  .map-container {
    height: 369px; }
  #map-canvas {
    height: 369px; }
  .bg-map .gg-map .column {
    height: 369px; } }

@media only screen and (min-width: 1025px) and (max-width: 1280px) {
  .map-container {
    height: 455px; }
  #map-canvas {
    height: 455px; }
  .bg-map .gg-map .column {
    height: 455px; } }

@media only screen and (min-width: 1281px) and (max-width: 1440px) {
  .map-container {
    height: 513px; }
  #map-canvas {
    height: 513px; }
  .bg-map .gg-map .column {
    height: 513px; } }

@media only screen and (min-width: 1441px) and (max-width: 1680px) {
  .map-container {
    height: 605px; }
  #map-canvas {
    height: 605px; }
  .bg-map .gg-map .column {
    height: 605px; } }

.form-deco {
  background: #240772 !important;
  color: #fff;
  font-size: 16px;
  padding-top: 100px !important; }
  .form-deco .img-line {
    width: 100%; }

.content-contact h3 {
  font-weight: bold;
  color: #ab9767; }

.content-contact p {
  margin-bottom: 30px; }

.content-contact .icon-mail, .content-contact .icon-phone {
  color: #ab9767;
  padding-right: 10px; }

.content-contact .icon-print {
  color: #ab9767;
  padding-right: 10px;
  padding-left: 20px; }

.content-contact2 {
  color: #fff;
  font-size: 14px; }
  .content-contact2 h3 {
    font-weight: bold;
    color: #ab9767; }
  .content-contact2 p {
    margin-bottom: 10px !important; }

.field-wrapper textarea {
  min-height: 15rem; }

h3.mg-top2 {
  margin-top: 20px!important;
}


table.school {
  color: gray;
  width: 100%;

}
td.school-name {
  text-align: left;
}
td.school-meter {
  text-align: right;
}



.product-image-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  z-index: 9999;
  display: none; }

.product-image-overlay .product-image-overlay-close {
  display: block;
  position: absolute;
  top: 20px;
  left: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #eee;
  line-height: 35px;
  font-size: 20px;
  color: #eee;
  text-align: center;
  cursor: pointer; }

.product-image-overlay img {
  width: auto;
  max-width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.recapcha {
  margin-bottom: 30px; }


.button-text {
  /*background-color: #AB9767;*/
  /*border-color: #AB9767;*/
  background: #ab9767 url(../front/bg_nav.png);
  background-size: cover;
  border-color: #ab9767;
  border-radius: 0px;
  color: white;
  font-size: 1.6rem;
  padding: 8px 30px; }

.button-text-hover:hover {
  /*background-color: #AB9767;*/
  /*border-color: #AB9767;*/
  background-color: #d0d0d0;
  border-color: #d0d0d0;
  color: white; }


.submit-align {
  text-align: left;
}

.content-contact .fa {
  color: #ab9767;
  padding-right: 10px;
}