h1, h2, h3, h4, h5, h6, td, tr, input, button, p, ol, ul, li, a, .button, select, textarea, .project-title, .product-title, .project-description, .font-alt-1, .header .navigation > ul > li > a, .side-navigation > ul > li > a, .overlay-navigation > ul > li > a, .grid-filter-menu a, .counter {
  font-family: 'Lato','Kanit'!important;
}
.wrapper-inner {
  filter: none!important;
}

nav.link-hilight ul li a {
  font-size: 14px!important;
  font-weight: 500!important;
}



.devloper {
  margin-top: 80px; }
  .devloper {
    color: gray!important; }

/*.devloper .media-column {*/
  /*background-image: url(../front/devloper.jpg);*/
  /*background-position: center; }*/

.bg-gray {
  background-color: #f1f1f1 !important; }

.detail2 {
  line-height: 40px; }

@media only screen and (max-width: 1024px) {
  .devloper {
    margin-top: 0px; } }

h3 {
  line-height: 1.5;
  color: #ab9767!important;
  font-size: 22px;
}

.hero-5 {
  height: 100%; }


.subhead-text {
  font-weight: bold;
  width: 50%;

}

td {
  vertical-align: top;
}
.head-text {
  vertical-align: top;
  font-weight: bold;
  width: 50%;

}
.head-topic {
  font-size: 22px;
  font-weight: bold;
  color: #ab9767!important;
}

ol {
  list-style-type: disc;
}