@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700%7CLato:300,400,700');


@font-face {
    font-family: 'rsulight';
    src: url("../fonts/rsulight.ttf");
    font-weight: normal;
    font-style: normal; }

* {
    font-family: "Lato",sans-serif;
}
