h1, h2, h3, h4, h5, h6, input, button, p, label, .button, select, textarea, .project-title, .product-title, .project-description, .font-alt-1, .header .navigation > ul > li > a, .side-navigation > ul > li > a, .overlay-navigation > ul > li > a, .grid-filter-menu a, .counter {
  font-family: 'Lato','Kanit'!important;
}

.register-tab a{
  font-family: 'Lato','Kanit'!important;
}

.wrapper-inner {
  filter: none!important;
}

.vdo-group {
  margin-top: 275px;
  /*text-align: center; */
}

.vdo-group .vdo-caption {
  /*text-align: center; */
}

.vdo-group .lead {
  margin-bottom: 0px;
  font-weight: bold;
  color: white;
  font-size: 20px; }

.btn-vdo {
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 13px;
  color: white;
  font-size: 300px!important;
}

nav.link-hilight ul li a {
  font-size: 14px!important;
  font-weight: 500!important;
}




.vdo-box {
  text-align: right;
  margin-top: 800px;
  margin-right: 60px; }
  .vdo-box a {
    margin-right: 115px; }

.bkg-charcoal {
  background: #232323 url("../front/newsbg.png") no-repeat scroll left bottom; }

.btn-register {
  position: absolute;
  bottom: -20px;
  right: 0;
  padding: 0;
  margin: 0; }

.bgcab {
  width: 391px;
  /*height: 453px;*/
  /*background: url(../front/bg_cap.png) no-repeat;*/
  right: 60px;
  top: 30px;
  color: #ab9767;
  /*font-size: 26px;*/
  height: 200px;
}

/*.regist-title {*/
  /*color: #fff;*/
  /*!*font-size: 36px;*!*/
  /*font-size: 26px;*/
  /*!*line-height: 1.2;*!*/
  /*margin-bottom: 6px;*/
/*}*/

/*.regist-title2 {*/
  /*color: #fff;*/
  /*font-size: 26px;*/
  /*line-height: 1.4;*/
  /*margin-bottom: 10px;*/
/*}*/


.clear-row-register {
  margin: 0px!important;
}
.form_button {
  padding:13px 15px;
}

.form-box {
  border-radius: 5px;
}


.checkbox-align {
  text-align: left;
}

.checkbox-align label{
  font-size: 16px;
  color: #ffffff;
}

.checkbox-align .checkbox{
  border-radius: 10px;
}

.regist-submit {
  border-radius: 25px;
  margin-bottom: 0px;
  background-color: white;
  color: #5b5b5b;
}



div.bgcab p {
  font-size: 24px;
  margin-bottom: 20px; }

.regist-box {
  padding: 20px; }

.overlay-info {
  background: rgba(36, 7, 114, 0.7) url(../front/cover.png) no-repeat center !important;
  color: #fff; }

.project-title {
  color: #fff; }

.project-description {
  color: #fff; }


.grid-container.full-width.no-margins {
  padding-bottom: 110px!important;
}

.bg-gallery {
  background: #232323 url("../front/newsbg.png") no-repeat scroll left bottom;
  background-color: #232323 !important;
}

.bg-summary {
  background-color: white;
}

.executive-content p{
  color: gray;
  line-height: 1.5;
  font-size: 15px;
  text-align: center;
}

span.overlay-info span {
  color: white; }

.team-content-info {
  overflow: hidden;
  height: 280px;
  text-align: center !important; }

.news-topic {
  text-align: center;
  margin-bottom: 10px; }

.news-topic h2 {
  color: #ab9767;
  margin-bottom: 10px;
  font-size:35px;
}

.checkbox+.checkbox-label:before, .radio+.radio-label:before {
  margin-top: 5px;
  border-radius: 3px;
  vertical-align: 0;
}


.news-title {
  color: #ab9767;
  /*font-family: 'Lato','db_adam';*/
  font-size: 19px;
}

.footer-font {
  font-family: Lato;
}

.bkg-grey-light {
  background: #ab9767 url(../front/bg_nav.png);
  background-size: cover;
  border-color: #ab9767; }

.bg-viewmore {
  text-align: center;
}

.button.medium, button.medium{
 font-size: 16px!important;
}

.no-bg-viewmore {
  text-align: center; }

.btn-viewmore {
  margin-top: 30px;
  margin-bottom: 10px;
  color: white;
  font-size: 60px!important;
  /*font-family: "Lato","Helvetica Neue",sans-serif; */
}


.register-popup {
  width: 300px;
  line-height: 0;
  z-index: 99;
  position: absolute;
  left: auto;
  right: 8%;
  top: 8%;
}

.register-popup .form-element {
  margin: 5px 0px;
}

.bg-regist-body {
  background: url(../front/form_body.png) repeat-y;
  background-size: 300px;
}


@media only screen
and (min-device-width: 320px)
and (max-device-width: 1366px)
and (-webkit-min-device-pixel-ratio: 1.5) {
  .show-on-mobile2 {
    display: block !important;
    visibility: visible !important;
    padding-top: 8px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0;
    height: 50px;
    text-align: center;
    background-color: rgba(25, 0, 121, 0.81) !important; }
  .show-on-mobile2 a {
    font-size: 18px;
    font-family: 'Lato','Kanit'!important;
    color: #ab9767; }

  .bg-regist-body {
    background-size:100%;
  }
  .form-logo-bottom {
    padding: 0;
    margin: 0;
  }
  .register-popup {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top:auto;
  }
}


@media only screen
and (min-device-width: 1024px)
and (max-device-width: 1366px)
and (-webkit-min-device-pixel-ratio: 1.5) {
  .show-mobile {
    text-align: right;
    margin-right: 70px;
    display: block!important;
    visibility: visible!important;
  }
}


@media only screen and (min-width: 780px) and (max-width: 1024px) {
  .tms-content .hide-register {
    visibility: hidden!important;
  }
}

@media only screen and (min-width: 701px) and (max-width: 1024px){
  .tms-content .show-on-mobile {
    text-align: right;
    margin-right: 70px;
    display: block!important;
    visibility: visible!important;
  }
  .register-popup {
    right: 100px!important;
    left: auto;
    top:auto;
  }
}

