@font-face {
    font-family: 'rsulight';
    src: url("../fonts/rsulight.ttf");
    font-weight: normal;
    font-style: normal; }

@font-face {
    font-family: 'db_adam';
    src: url("../fonts/DB_Adman.ttf");
    font-weight: normal;
    font-style: normal; }