
h1, h2, h3, h4, h5, h6, td, input, button, p, ul, li, a, .button, select, textarea, .project-title, .product-title, .project-description, .font-alt-1, .header .navigation > ul > li > a, .side-navigation > ul > li > a, .overlay-navigation > ul > li > a, .grid-filter-menu a, .counter {
  font-family: 'Lato','Kanit'!important;
}


.wrapper-inner {
  filter: none!important;
}

.project-banner {
  width: 100%;
  position: relative; }

.project-banner img {
  width: 100%; }

.project {
  position: absolute;
  bottom: 0;
  width: 100%; }

.project-menu {
  background: rgba(25, 0, 121, 0.6) url(../front/line.png) no-repeat top;
  width: 100%;
  padding: 20px;
  text-align: center;
  color: #ab9767;
  font-size: 17px;
}

#slide-to1, #slide-to2, #slide-to3, #slide-to4, #slide-to5, #slide-to6{
  font-size: 17px;
}

.project-menu > ul > li {
  display: inline-block; }

.project-menu > ul > li > a {
  color: #ab9767;
  font-weight: bold;
  padding: 10px 20px;
  font-family: sans-serif; }

.project-menu > ul > li > a:hover {
  border-bottom: 2px solid #ab9767;
  border-top: 2px solid #ab9767; }

.bx-wrapper .bx-viewport {
  background: none !important;
  border: none !important;
  left: 0 !important; }

.bxslider .row {
  max-width: none;
  width: 100%; }

.bxslider .column {
  padding: 0; }

.bxslider .img-width {
  width: 100%; }

.project-slide {
  text-align: center;
  padding-top: 185px;
  padding-bottom: 110px;
  padding-right: 40px;
  padding-left: 40px; }

.project-slide h2 {
  color: #725103;
  font-weight: bold; }

.project-slide hr {
  width: 200px;
  border: 2px solid #ab9767;
  margin: auto;
  margin-bottom: 30px;
}

.project-slide p.lead {
  color: #ab9767;
  font-size: 25px
}

.project-slide p {
  font-size: 16px;
}


@media only screen and (max-width: 320px) {
  .project-slide {
    padding-top: 70px;
    padding-bottom: 70px; } }

@media only screen and (max-width: 768px) {
  .project-slide {
    padding-top: 100px;
    padding-bottom: 100px; } }

@media only screen and (max-width: 960px) {
  .project-slide {
    padding-top: 50px;
    padding-bottom: 85px; } }

@media only screen and (max-width: 1440px) {
  .project-slide {
    padding-top: 90px;
    padding-bottom: 85px; } }



@media only screen and (min-width: 981px) {
  .project-banner .show-on-mobile3{
    display: block!important;
    visibility: visible!important;
  }
}

