@import url('https://fonts.googleapis.com/css?family=Kanit:300,400,500');

@font-face {
    font-family: 'db_adam';
    src: url("../fonts/DB_Adman.ttf");
    font-weight: normal;
    font-style: normal; }

/** {*/
    /*font-family: 'Kanit', sans-serif;*/
/*}*/

