
h2, h3, h4, h5, h6, td, input, button, p, ul, li, a, .button, select, textarea, .project-title, .product-title, .project-description, .font-alt-1, .header .navigation > ul > li > a, .side-navigation > ul > li > a, .overlay-navigation > ul > li > a, .grid-filter-menu a, .counter {
  font-family: 'Lato','Kanit'!important;
}


.wrapper-inner {
  filter: none!important;
}

nav.link-hilight ul li a {
  font-size: 14px!important;
  font-weight: 500!important;
}

.clear-pd {
  padding: 0;
}

.bg-purple {
  background-color: #240772!important;
  height: 1000px;
  text-align: center!important;

}
.align-text {
  text-align: center;
  margin-top: 8%;
}
.align-text h2 {
  color: white;
  line-height: 1.5;
  font-size: 45px;
  font-family: 'Lato','Kanit'!important;
}

.align-text h1 {
  color: white;
  line-height: 1.5;
  font-size: 55px;
  font-family: 'Lato','Kanit'!important;
}

.button-text {
  background: #ab9767 url(../front/bg_nav.png);
  background-size: cover;
  border-color: #ab9767;
  border-radius: 0px;
  color: white;
  font-size: 1.6rem;
  padding: 8px 30px; }

.button-text-hover:hover {
  background-color: #d0d0d0;
  border-color: #d0d0d0;
  color: white; }

@media only screen
and (min-device-width: 320px)
and (max-device-width: 1366px)
and (-webkit-min-device-pixel-ratio: 1.5) {
  .align-text h2{
    font-size: 20px;
  }
  .align-text h1 {
    font-size: 30px;
  }
}

@media only screen and (min-width: 701px) and (max-width: 1024px){
  .align-text h2{
    font-size: 35px;
  }
  .align-text h1 {
    font-size: 45px;
  }
}